<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Contactanos, estamos esperando tu llamada">
  <meta name="keywords"  content="Contacto, Telefono, WhatsApp, Consultas, Preguntas">
  <link rel="icon" type="image/x-icon" href="../images/iconos/logo.svg" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Contacto</title>
</head>

<body>
  <header id="header" data-aos="fade-down" data-aos-duration="2000">
    <a href="../index.html" class="btnImg"><img src="../images/iconos/logo.svg" alt="#"></a>
    <div class="menu">
      <div class="btn">
        <i class="fas fa-times closeBtn"></i>
      </div>
      <ul>
        <li><a href="novedades.html">Novedades</a></li>
        <li><a href="categorias.html">Categorias</a>
          <ul class="categorias">
            <li><a href="#">Tecnologia</a></li>
            <li><a href="#">Electro y Hogar</a></li>
            <li><a href="#">Salud y Belleza</a></li>
            <li><a href="#">Seguridad y Vigilacia</a></li>
          </ul>
        </li>
        <li><a href="ofertas.html">Ofertas</a></li>
        <li><a href="envios.html">Envios</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </div>
    <div class="btn">
      <i class="fas fa-bars menuBtn"></i>
    </div>
  </header>
  <div class="subMenu"></div>
  <main>
    <div class="contenedor">
      <section class="contacto">
        <h1 class="titulo" data-aos="zoom-in" data-aos-duration="2000">Contactanos</h1>
        <div class="titleContacto" data-aos="fade-up" data-aos-duration="2000">
          <h2>¿Quieres hacer una compra?, te asesoramos</h2>
          <p>Llamanos o escribenos, estamos para ayudarte</p>
        </div>
        <article data-aos="fade-up" data-aos-duration="2000" class="contContacto">
          <div class="contTel contCell">
            <div class="iconCircle">
              <img src="../images/iconos/telefono.svg" alt="#">
            </div>
            <div class="informacionHorarios">
              <h4>Venta telefonica</h4>
              <span>Lu-Vi: 9 a 20hs</span>
              <span>Sab y Fer: 10 a 19hs</span>
              <span>Domingos: 10 a 17hs</span>
            </div>
          </div>
          <div class="contTel contWhatsapp">
            <div class="iconCircle iconwhatsapp">
              <a href="https://api.whatsapp.com/send?phone=549152484107&text=Mandame un mensaje para cualquier consulta"
                class="float" rel="noreferrer" target="_blank">
                <img src="../images/redes/whatsapp.svg" alt="#">
              </a>
            </div>
            <div class="informacionHorarios">
              <h4>WhatsApp</h4>
              <span>Lu-Vi: 9 a 21hs</span>
              <span>Sab y Fer: 9 a 20hs</span>
              <span>Domingos: 10 a 17hs</span>
              <span>*Solo mensajes de texto</span>
            </div>
          </div>
          <div class="contTel contTelefono">
            <div class="iconCircle iconwhatsapp">
              <a href="https://api.whatsapp.com/send?phone=5491124861074&text=Mandame un mensaje para cualquier consulta"
                class="float" rel="noreferrer" target="_blank">
                <img src="../images/redes/whatsapp.svg" alt="#">
              </a>
            </div>
            <div class="informacionHorarios">
              <h4>Venta Mayorista</h4>
              <span>11 2476 1074</span>
              <span>11 2478 1068</span>
              <span>*Solo mensajes de texto</span>
            </div>
          </div>

        </article>
      </section>
      <div class="informacionNovedades">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info azul" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Informacion
        </button>
    
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Informacion sobre las novedades</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Todos nuestros canales de WhatsApp son solo texto</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="contacto">
    <div class="contenedorInfo">
      <div class="infoRedes">
        <span>Encontranos en:</span>
        <a href="https://www.facebook.com" rel="noreferrer" target="_blank"><img src="../images/redes/facebook.svg" alt="facebook"></a>
        <a href="https://twitter.com" rel="noreferrer" target="_blank"><img src="../images/redes/twitter.svg" alt="twitter"></a>
        <a href="https://www.instagram.com" rel="noreferrer" target="_blank"><img src="../images/redes/instagram.svg" alt="instagram"></a>
      </div>
      <span>© Gijutsu 2021 - Todos los derechos reservados</span>
    </div>
    <div class="linea"></div>
    <div class="contenedorInfo">
      <div class="nosotros">
        <a href="#">Nosotros</a>
        <a href="#">Contactanos</a>
        <a href="#">Politicas de privacidad</a>
      </div>
    </div>
    <div class="linea"></div>
    <div class="contenedorInfo ">
      <div class="tarjeta">
        <img src="../images/iconos/creditCard.svg" alt="#">
        <p>¡Podés pagar con nuestras tarjetas seleccionadas en cuotas y sin interés!</p>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="../js/header.js"></script>
  <script src="../js/bootstrap/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>