<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Nuestros ultimos productos">
  <meta name="keywords"  content="Novedades, Nuevo, Lo utlimo">
  <link rel="icon" type="image/x-icon" href="../images/Iconos/logo.svg"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Nuevos productos</title>
</head>

<body>
  <header>
    <a href="../index.html" class="btnImg"><img src="../images/iconos/logo.svg" alt=""></a>
    <div class="menu">
      <div class="btn">
        <i class="fas fa-times closeBtn"></i>
      </div>
      <ul>
        <li><a href="novedades.html">Novedades</a></li>
        <li><a href="categorias.html">Categorias</a>
          <ul class="categorias">
            <li><a href="">Tecnologia</a></li>
            <li><a href="">Electro y Hogar</a></li>
            <li><a href="">Salud y Belleza</a></li>
            <li><a href="">Seguridad y Vigilacia</a></li>
          </ul>
        </li>
        <li><a href="ofertas.html">Ofertas</a></li>
        <li><a href="envios.html">Envios</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </div>
    <div class="btn">
      <i class="fas fa-bars menuBtn"></i>
    </div>
  </header>
  <div class="subMenu"></div>
  <main class="Novedadess">
    <h1 class="titulo">Novedades</h1>
    <section class="productsNovedades">
      <article class="article-1">
        <div class="contImg">
          <img src="../images/productos/MOTOG8PX.webp" alt="">
        </div>
        <div class="infoProduct">
          <p class="codProduc">COD MOTOG8PX</p>
          <p>Celular Motorola G8 Power Lite 64gb 4gb Ram</p>
          <p>$ 29.899</p>
          
        </div>
      </article>
      <article class="article-1">
        <div class="contImg">
          <img src="../images/productos/KPCINT07.webp" alt="">
        </div>
        <div class="infoProduct">
          <p class="codProduc">COD KPCINT07</p>
          <p>Pc Armada i5 10400 Gabinete Rgb 8gb Ssd 240 500w 80 plus Gamer Diseño Web</p>
          <p>$ 73.749</p>
        </div>
      </article>
      <article class="article-1">
        <div class="contImg">
          <img src="../images/productos/KNOT212N.webp" alt="">
        </div>
        <div class="infoProduct">
          <p class="codProduc">COD KNOT212N</p>
          <p>Notebook Hp 240 G7 Intel Core i5 Ram 4gb Ssd 256gb Windows 10 Pantalla 14 + Mochila Hp</p>
          <p>$ 95.599</p>
        </div>
      </article>
      <article class="article-1">
        <div class="contImg">
          <img src="../images/productos/KGAMER13.webp" alt="">
        </div>
        <div class="infoProduct">
          <p class="codProduc">COD KGAMER13</p>
          <p>Kit Gaming Teclado + Mouse RGB USB Retro Iluminado</p>
          <p>$1.949</p>
        </div>
      </article>
      <article class="article-1">
        <div class="contImg">
          <img src="../images/productos/LUMIN018.webp" alt="">
        </div>
        <div class="infoProduct">
          <p class="codProduc">COD LUMIN018</p>
          <p>Tira Led Gadnic RGB 5050 Control Remoto 300 Leds</p>
          <p>$3.499</p>
        </div>
      </article>

    </section>
    <div class="informacionNovedades">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Informacion
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Informacion sobre las novedades</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Todos los productos montrados aca son sujetos a tener stock</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="contacto">
    <div class="contenedorInfo">
      <div class="infoRedes">
        <span>Encontranos en:</span>
        <a href="https://www.facebook.com" target="_blank"><img src="../images/redes/facebook.svg" alt="facebook"></a>
        <a href="https://twitter.com" target="_blank"><img src="../images/redes/twitter.svg" alt="twitter"></a>
        <a href="https://www.instagram.com" target="_blank"><img src="../images/redes/instagram.svg" alt="instagram"></a>
      </div>
      <span>© Gijutsu 2021 - Todos los derechos reservados</span>
    </div>
    <div class="contenedorInfo">
      <div class="nosotros">
        <a href="">Nosotros</a>
        <a href="">Contactanos</a>
        <a href="">Politicas de privacidad</a>
      </div>
    </div>
    <div class="contenedorInfo ">
      <img src="../images/iconos/creditCard.svg" alt="">
      <p>¡Podés pagar con nuestras tarjetas seleccionadas en cuotas y sin interés!</p>
    </div>
  </footer>
  <script type="text/javascript" src="../js/header.js"></script>
  <script src="../js/bootstrap/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
</body>

</html>