<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Nuestras ultimas ofertas">
  <meta name="keywords"  content="Ofertas, Descuentos, Rebajas">
  <link rel="icon" type="image/x-icon" href="../images/iconos/logo.svg"/>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Ultimas ofertas</title>
</head>

<body>
  <header id="header" data-aos="fade-down" data-aos-duration="2000">
    <a href="../index.html" class="btnImg"><img src="../images/iconos/logo.svg" alt="#"></a>
    <div class="menu">
      <div class="btn">
        <i class="fas fa-times closeBtn"></i>
      </div>
      <ul>
        <li><a href="novedades.html">Novedades</a></li>
        <li><a href="categorias.html">Categorias</a>
          <ul class="categorias">
            <li><a href="#">Tecnologia</a></li>
            <li><a href="#">Electro y Hogar</a></li>
            <li><a href="#">Salud y Belleza</a></li>
            <li><a href="#">Seguridad y Vigilacia</a></li>
          </ul>
        </li>
        <li><a href="ofertas.html">Ofertas</a></li>
        <li><a href="envios.html">Envios</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </div>
    <div class="btn">
      <i class="fas fa-bars menuBtn"></i>
    </div>
  </header>
  <div class="subMenu"></div>
  <main class="Novedadess">
    <h1 class="titulo" data-aos="zoom-in" data-aos-duration="2000">Ofertas</h1>
    <section class="productsNovedades">
      <article class="article-1" data-aos="flip-left" data-aos-duration="2000">
        <a href="#">
          <div class="contImg">
            <img src="../images/productos/GRASS001.webp" alt="#">
            <img class="icono-oferta" src="../images/iconos/oferta20.png" alt="#">
          </div>
          <div class="infoProduct">
            <p class="codProduc">COD GRASS001</p>
            <p>Cortadora de Pasto Gadnic Mower 1300 1200w 30Lts 220v</p>
            <p>$ 14.999 20% OFF</p>
          </div>
        </a>
      </article>
      <article class="article-1" data-aos="flip-left" data-aos-duration="2000">
        <a href="#">
          <div class="contImg">
            <img src="../images/productos/NOT00232.webp" alt="#">
            <img class="icono-oferta" src="../images/iconos/oferta40.png" alt="#">
          </div>
          <div class="infoProduct">
            <p class="codProduc">COD NOT00232</p>
            <p>Notebook Asus X515 Intel Core i5-1135G7 8gb Ssd 256gb 15,6 Full Hd</p>
            <p>$ 102.999 40% OFF</p>
          </div>
        </a>
      </article>
      <article class="article-1" data-aos="flip-left" data-aos-duration="2000">
        <a href="#">
          <div class="contImg">
            <img src="../images/productos/KPLAY001.webp" alt="#">
            <img class="icono-oferta" src="../images/iconos/oferta15.png" alt="#">
          </div>
          <div class="infoProduct">
            <p class="codProduc">CODKPLAY001</p>
            <p>Combo Playstation 5 + 2 Joysticks + Juegos Gratis</p>
            <p>$ 286.999 15% OFF</p>
          </div>
        </a>
      </article>
      <article class="article-1" data-aos="flip-left" data-aos-duration="2000">
        <a href="#">
          <div class="contImg">
            <img src="../images/productos/NOT00222.webp" alt="#">
            <img class="icono-oferta" src="../images/iconos/oferta35.png" alt="#">
          </div>
          <div class="infoProduct">
            <p class="codProduc">COD NOT00222</p>
            <p>Notebook Asus Tuf Gaming F17 Intel Core i5-10300H Gtx 1650 Ti 17,3 Pulgadas FHD</p>
            <p>$222.000 35% OFF</p>
          </div>
        </a>
      </article>
      <article class="article-1" data-aos="flip-left" data-aos-duration="2000">
        <a href="#">
          <div class="contImg">
            <img src="../images/productos/NOT00222.webp" alt="#">
            <img class="icono-oferta" src="../images/iconos/oferta25.png" alt="#">
          </div>
          <div class="infoProduct">
            <p class="codProduc">COD NOT00222</p>
            <p>Notebook Asus Tuf Gaming F17 Intel Core i5-10300H Gtx 1650 Ti 17,3 Pulgadas FHD</p>
            <p>$222.000 25% OFF</p>
          </div>
        </a>
      </article>

    </section>
    <div class="informacionNovedades">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-info azulClaro" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Informacion
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Informacion sobre las novedades</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Todos los productos montrados aca son sujetos a tener stock, cualquier consulta contactese con nosotros
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="contacto">
    <div class="contenedorInfo">
      <div class="infoRedes">
        <span>Encontranos en:</span>
        <a href="https://www.facebook.com" rel="noreferrer" target="_blank"><img src="../images/redes/facebook.svg" alt="facebook"></a>
        <a href="https://twitter.com" rel="noreferrer" target="_blank"><img src="../images/redes/twitter.svg" alt="twitter"></a>
        <a href="https://www.instagram.com" rel="noreferrer" target="_blank"><img src="../images/redes/instagram.svg" alt="instagram"></a>
      </div>
      <span>© Gijutsu 2021 - Todos los derechos reservados</span>
    </div>
    <div class="linea"></div>
    <div class="contenedorInfo">
      <div class="nosotros">
        <a href="#">Nosotros</a>
        <a href="#">Contactanos</a>
        <a href="#">Politicas de privacidad</a>
      </div>
    </div>
    <div class="linea"></div>
    <div class="contenedorInfo ">
      <div class="tarjeta">
        <img src="../images/iconos/creditCard.svg" alt="#">
        <p>¡Podés pagar con nuestras tarjetas seleccionadas en cuotas y sin interés!</p>
      </div>
    </div>
  </footer>
  <script type="text/javasrcipt" src="../js/bootstrap/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/header.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>